{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  {% if form.instance.pk %}Редактирование{% else %}Создание{% endif %} страницы
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        {% if form.instance.pk %}Редактирование{% else %}Создание{% endif %} страницы
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" content="Сохранить" %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}